body {
  background: #0b132b;
  color: aliceblue;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-family: Cousine;
  font-style: normal;
  font-weight: normal;
}

.btn-std {
  width: 360px;
  height: 70px;
  font-size: 36px;
  line-height: 40px;
  background: #e22020;
}

.txt-header {
  margin-top: 8%;
  margin-bottom: 1%;
  font-size: 72px;
  line-height: 82px;
}

.txt-secondary {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 72px;
  line-height: 82px;
}

.txt-description {
  font-size: 24px;
  line-height: 27px;
  width: 700px;
  margin: auto;
  margin-bottom: 6%;
}

.txt-middle {
  font-size: 48px;
  line-height: 54px;
}

.txt-link {
  font-size: 24px;
  line-height: 27px;
  text-decoration-line: underline;
  color: aliceblue;
}

.input-std {
  width: 360px;
  height: 50px;
  background: #1c2541;
  margin: auto;
  margin: 2% auto 2% auto;
  border-color: #1c2541;
  color: aliceblue;
}

.mt-7 {
  margin-top: 6%;
}

.input-std:hover,
.input-std:focus,
.input-std.focus,
.input-std:not(:disabled):not(.disabled):active,
.input-std:not(:disabled):not(.disabled).active,
.show > .input-std.dropdown-toggle {
  background-color: #1c2541;
  color: aliceblue;
}

.players-list {
  background-color: #1c2541;
  height: 200px;
  width: 360px;
  margin: auto;
}

.game-frame {
  background-color: #1c2541;
}

.btn-corner {
  width: 100px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
  background: #e22020;
  position: absolute;
  top: 10px;
  right: 20px;
}

#game-field {
  width: 300px;
  height: 600px;
}

.game-unit {
  background-color: #3a506b;
  font-size: 10px;
  height: 28px;
  margin: 1px;
}

.game-box {
  height: 180px;
}

#other-fields {
  /* width: 300px; */
  height: 400px;
}

.other-field {
  background-color: #3a506b;
  height: 170px;
  max-width: 85px;
  margin: 3% auto 3% auto;
}
